.appWrapper{
  display: grid;
  grid-template-areas:
          "header header"
          "aside content";
  grid-template-columns: 2fr 10fr;
  grid-template-rows: var(--header-height) 1fr;
  height: 100vh;
}