.authForm{
  display: flex;
  flex-flow: column;
  width: 50%;
}
.authForm input{
  margin: 10px 0px;
}
.wrapperAuthForm{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.wrapperAuthForm button{
  width: 100%;
}