.wrapper{
  display: flex;
  margin: 10px;
  justify-content: space-between;
  background-color: white;
  padding: 8px;
  border-radius: 5px;
  min-height: 100px;
}
.wrapper img{
  width: 80px;
  border-radius: 10px;
}